*{
    margin:0;
    padding: 0;
}
button{
    border-radius: 5px;
    height: 40px;
    padding: 10px; 
    width: 150px;
    padding-bottom: 10px;
    color: white;
    background: #4ea5c7;
    background: linear-gradient(142deg,rgba(78, 165, 199, 1) 0%, rgba(79, 162, 200, 1) 0%, rgba(104, 85, 230, 1) 48%, rgba(105, 28, 173, 1) 99%, rgba(105, 28, 173, 1) 100%);

}
body{
    font-family: "Roboto", sans-serif;
}
section#home{
    height: 100vh ;
    background: #691cad;
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient(142deg,rgba(105, 28, 173, 1) 5%, rgba(105, 28, 173, 1) 5%, rgba(104, 85, 230, 1) 55%, rgba(78, 165, 199, 1) 95%);
}
section#home header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
section#home header div h1{
    color: white;
}
section#home header nav ul{
    display: flex;
    gap: 10px;
    margin-top: 7px;
}
section#home header nav ul li{
    list-style: none;
}
section#home header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2 rem;
}
section#home #content{
    display: flex;
    margin-top: 100px;

}
section#home >  #content  > div{
    flex:1;
}
section#home #content div h2{
    font-size: 4rem;
    color: white;
}
section#home #content div P{
    color: white; 
   
}
section#home > #content > div > div{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}
section#home > #content > div > div>div{
    margin-left: 10px;
    border-radius: 70px;
}

section#home #content div img{
    border-radius: 100%;
}
section#about{
    height: 100vh ;
    background: #691cad;
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient(142deg,rgba(105, 28, 173, 1) 5%, rgba(105, 28, 173, 1) 5%, rgba(104, 85, 230, 1) 55%, rgba(78, 165, 199, 1) 95%);
}
section#about #aboutt{
    display: flex;
    
}

section#about #aboutt div img{
    border-radius: 100%;
    margin-top: 70px;
    margin-left: 100px;
}
section#about> #aboutt >div>div#acerca{
    color: white;
    margin-top: 200px;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
}
section#about> #aboutt >div>div#parrafo{
    text-align: justify;

}
section#about> #aboutt >div>div{
    color: white;
    margin-top: 10px;
    margin-left: 100px;
    font-family: 'Raleway';
}
section#about> #aboutt >div>div>div#arriba{
    display: flex;
    margin-bottom: 30px;
    /*margin-left: 70px;
    margin-right: 30px;
    background-color: #ffffff7e;
    width: 100px;
    justify-content: space-between;
    height: 30px;
    padding-top: 10px;*/
}
section#about> #aboutt >div>div>div#arriba>div{
    margin-left: 70px;
    margin-right: 30px;
    background-color: #f1f1f138;
    width: 125px;
    justify-content: space-between;
    height: 32px;
    padding-top: 10px;
    text-align: center;
    border-radius: 50px;
    
}
section#about> #aboutt >div>div>div#abajo{
    display: flex;
    /*margin-left: 70px;
    margin-right: 30px;
    background-color: #ff9e9e7e;
    width: 125px;
    justify-content: space-between;
    height: 30px;
    padding-top: 10px;
    border-radius: 50px;*/
}
section#about> #aboutt >div>div>div#abajo>div{
    margin-left: 70px;
    margin-right: 30px;
    background-color: #f1f1f138;
    width: 125px;
    justify-content: space-between;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
   
}
section#about> div#aboutt >div>div>button{
    border-radius: 100px;
    margin-left: 160px;
    margin-top: 20px;
}

section#servicios{
    height: 100vh ;
    background: #691cad;
    padding-left: 50px;
    padding-right: 50px;
     color: white;
    background: linear-gradient(142deg,rgba(105, 28, 173, 1) 5%, rgba(105, 28, 173, 1) 5%, rgba(104, 85, 230, 1) 55%, rgba(78, 165, 199, 1) 95%);
}
section#servicios>div#title{
     color: white;
   /* margin-top: 200px;*/
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-align: center;
}
section#servicios>div#acercade{
     font-family: 'Raleway';
     text-align: center;
     margin-top: 30px;
}
div#vacio{
    height: 100px;
}
section#servicios>div#service>div#superior{
    display:flex;
}
section#servicios>div#service>div#inferior{
    display:flex;
}
section#servicios>div#service>div#superior img{
    width: 100px;

}