 body,
 html {
     height: 100%;
     margin: 0;
 }

 .login-container {
     height: 100vh;
 }

 /* Columna izquierda con imagen animada */
 .left-side {
     background-image: url('./../images/bg.png');
     background-size: 110% 110%;
     background-position: left;
     animation: slideBG 4s ease-in-out infinite alternate;
 }

 /* Animación suave */
 @keyframes slideBG {
     0% {
         background-position: center;
     }

     100% {
         background-position: center right;
     }
 }

 /* Formulario */
 .login-box {
     max-width: 380px;
     width: 100%;
 }